# Exclude all .idea directories
.idea/
**/.idea/
**/cmake-build-/debug/
cmake-build-debug/


# Exclude all binary files
*.bin
*.exe
*.dll
*.o
*.so

# Exclude all .png, .pdf, and .csv files
*.png
*.pdf
*.csv

#
*.txt
/Lab2/cmake-build-debug/

# Folder with instructions should be excluded
/instructions/
